





body {	background-color:#000000; 
	
	
	}



#contenedor { 	 
				width:1000px; 
				height:580px;
				margin:auto; 
				
			
	}
	
	
	
	
#fondo {	 
			background-image:url(../img/fondo_espacial.jpg);
			width:1000px; 
			height:500px;
			
			
			
	}
	
	
#luna {		
			background-image:url(../img/luna.jpg);
			width:1000px; 
			height:80px;
			
	}
	
	
#zona_menus{	float:left; 
				width:300px; 
				height:500px;
				 

	}
	
	
.inf_menu{	margin-left:10%;
			font-family:Gazzarelli; 
			font-size:30px; 
			color:#2eb8b8;
			float:left;
		
	
	}
	
	
	
.img_menu{	width:40px;

}
	
	
	
	
#zona_nave{		float:left; 
				width:300px; 
				height:500px;
				margin-left:auto; 
			
}	
	
	
	
	
#nave{  background-image:url(../img/navee.png);
		width:50px; 
		height:90px;
		margin:auto; 
		
}	
	
	
	
	
#controles{ 	width:400px; 
				height:500px;
				margin-left:auto;
	
}
	
	
	
#control_pak{ 	width:220px; 
				height:60px;
				position:relative;
    			top: 440px; 
				float:right;
				margin-right:20px;
    			
}
	


#opciones{	float:right; 
			width:50px; 
			height:50px;
	
}	
	
	
	
	
#pause{	float:left; 
		width:50px; 
		height:50px;
	
	
	
}	
	
#reinicio{	width:50px; 
			height:50px; 
			margin-left:30px;

}	
	
	
	
#play {		width:72px; 
			height:72px; 
			margin-left:500px; 
			margin-top:250px;
	
}


	
	
	
	
	
	
	
	
	
	
	
	
	
	
#play2 {	width:72px; 
			height:72px; 
			margin-top:100px;
			
			margin-left:600px; 
			
}
	
	
	


#reinicio2{	
			visibility:hidden;
}	


#opciones2{	visibility:hidden;

}
			

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
#creditos {	  	width:200px; 
				height:300px;
				float:right; 
				margin-right:60px; 

}
	
.texto{ color:#FF3; font-size:22px;
}



#instruc{	width:200px; 
			height:400px;
			float:left; 
			margin-left:40px;
	
}
	
	
	
	
#bot_propulsor{ 	margin-top:70px; 
					margin-left:35px;
	
}
	
	
	
#nave:hover{  	background-image:url(../img/navef3.png);
				width:55px; 
				height:110px;
				margin:auto; 
	
}	
	
	
	
.himitsu{   visibility:hidden;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	